# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/node:7.10

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run: npm install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
        
      - run: 
          name: Validate
          command: |
            node .circleci/validate.js . .circleci > /tmp/results.txt
        
      - run:
          name: Upload validation results
          when: always
          command: |     
            FILE=validation-`date -u "+%Y%m%dT%H%M%SZ"`.txt
            DIR=".circleci/validation_results"
            mkdir -p $DIR
            cp /tmp/results.txt $DIR/$FILE
            git config credential.helper 'cache --timeout=120'
            git config user.email "${EMAIL}"
            git config user.name "Schema validation Bot"
            #git add $DIR/$FILE
            #git commit --no-post-rewrite --no-verify --allow-empty -m "Validation result [skip ci]"
            # Push quietly to prevent showing the token in log
            #git push -q https://${GITHUB_TOKEN}@github.com/tmforum-rand/schemas.git ${CIRCLE_BRANCH}
      
      - run:
          name: "Trigger swagger build"
          command: "curl -X POST -u ${CIRCLE_API_KEY}: -d build_parameters[CIRCLE_JOB]=build https://circleci.com/api/v1.1/project/github/tmforum-rand/swagger-from-yaml-testing/tree/master"

      - store_artifacts:
          path: /tmp/results.txt
          
